.picker {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  color: var(--ds-input-foreground, var(--ds-grey-700, #232324));
  font-size: var(--ds-label-font-size, 12px);
  text-transform: uppercase;
  user-select: none;
}

.inner {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.withInput .inner {
  --ds-input-radius: 0;
  --ds-input-compact-padding: 3px 5px;

  align-items: stretch;
  gap: 0;
}

.withInput .inner button {
  position: relative;
}

.withInput .inner button:first-of-type {
  --ds-button-radius: var(--ds-radius-100, 6px) 0 0 var(--ds-radius-100, 6px);
}

.withInput .inner button:last-of-type {
  --ds-button-radius: 0 var(--ds-radius-100, 6px) var(--ds-radius-100, 6px) 0;
}

.withInput input {
  text-align: center;
}

.value {
  position: static;
  min-width: 18px;
  color: var(--ds-number-picker-foreground, var(--ds-grey-600, #383838));
  font-size: var(--ds-number-picker-font-size, 14px);
  text-transform: uppercase;
  text-align: center;
  user-select: none;
}

.picker.active .value input {
  font-weight: 700;
}

.picker.disabled .value {
  opacity: 0.4;
  cursor: not-allowed;
}
