.input,
.select,
.textarea,
.label {
  display: flex;
  flex-direction: column;
  font-family: var(--ds-sans-serif-font, "Open Sans", sans-serif);
  gap: 5px;
}

.select {
  --chevron-size: 8px;
}

.withIcon {
  --icon-size: 16px;
}

.compact.withIcon {
  --icon-size: 14px;
}

.hidden {
  display: none;
}

.date .label {
  position: relative;
}

.dateDropdown .datePicker {
  margin: 0 auto;
  padding: 0 0 0 4px;
  box-shadow: none;
}

.labelText {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 0 3px;
  color: var(--ds-grey-500, #484848);
  font-size: var(--ds-label-font-size, 12px);
  text-transform: uppercase;
  user-select: none;
}

.error .labelText {
  color: var(--ds-red-400, #f26464);
}

.fieldWrapper {
  position: relative;
  color: var(--ds-input-foreground, var(--ds-grey-700, #232324));
}

.fieldWrapper > svg {
  position: absolute;
  top: calc(50% - var(--icon-size) / 2);
  left: var(--ds-input-padding, 8px);
  width: var(--icon-size);
  height: var(--icon-size);
  fill: currentColor;
}

.compact .fieldWrapper > svg {
  left: var(--ds-input-compact-padding, 5px);
}

.field {
  width: 100%;
  padding: var(--ds-input-padding, 8px);
  box-sizing: border-box;
  color: inherit;
  font-size: var(--ds-input-font-size, 16px);
  font-family: var(--ds-sans-serif-font);
  background-color: var(--ds-input-background, var(--ds-grey-100, #f5f5f5));
  border: var(--ds-input-border, 0);
  border-radius: var(--ds-input-radius, var(--ds-radius-100, 6px));
  box-shadow: var(--ds-input-shadow, 0);
  outline: none;
}

.field::placeholder {
  opacity: 0.65;
}

.field:read-only {
  cursor: default;
}

.field:disabled {
  cursor: not-allowed;
  filter: grayscale(100%) opacity(40%);
}

.dateField:focus,
.field:focus-visible {
  outline: var(--ds-focus-ring-width, 2px) solid
    var(--ds-focus-ring-color, var(--ds-blue-400, #4177f6));
  outline-offset: var(--ds-focus-ring-offset, 2px);
}

.select .field {
  padding-right: calc(var(--chevron-size) + var(--ds-input-padding, 8px) * 3);
  appearance: none;
}

.select .fieldWrapper::after {
  position: absolute;
  content: "";
  width: var(--chevron-size);
  height: var(--chevron-size);
  display: inline-block;
  right: calc(var(--ds-input-padding, 8px) * 2);
  top: calc(50% - var(--chevron-size) / 1.5);
  border-color: currentColor;
  border-style: solid;
  border-width: 1px 1px 0 0;
  transform: rotate(135deg);
}

.textarea:not(.autoSizing) .field {
  resize: vertical;
}

.textarea.autoSizing .field {
  resize: none;
}

.input.compact .field,
.select.compact .field,
.textarea.compact .field {
  font-size: 14px;
}

.select.compact .field {
  padding: var(--ds-input-compact-padding, 5px);
}

.input.compact .field,
.textarea.compact .field {
  padding: var(--ds-input-compact-padding, 5px);
}

.withIcon .field {
  padding-left: calc(var(--icon-size) + var(--ds-input-padding, 8px) * 2);
}

.compact.withIcon .field {
  padding-left: calc(
    var(--icon-size) + var(--ds-input-compact-padding, 5px) * 2
  );
}

.dateField,
.dateField:read-only {
  text-align: left;
  cursor: pointer;
  user-select: none;
}

.calendarIcon {
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.validIndicator,
.errorIndicator {
  flex: 0 0 14px;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: input-validation-indicator-appearance 320ms
    var(--ds-transition-easing, cubic-bezier(0.4, 0, 0.2, 1));
}

@keyframes input-validation-indicator-appearance {
  50% {
    transform: scale(1.4);
  }
}

.validIndicator {
  fill: var(--ds-green-400, #4bde97);
}

.errorIndicator {
  fill: var(--ds-red-400, #f26464);
}

.errorMessage {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 0 3px;
  color: var(--ds-red-400, #f26464);
  font-style: italic;
  font-size: 11px;
}
